<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>game app</title>
</head>

<body>
    <main class="bg-white relative overflow-hidden h-screen">
        <div class=" flex relative z-20 items-center overflow-hidden">
            <div class="container mx-auto px-6 flex relative py-16 items-center justify-between">
                <div class="sm:w-2/3 lg:w-2/5 flex flex-col relative z-20 ml-20">
                    <span class="w-20 h-2 bg-[#1C4986]  mb-12">
                    </span>
                    <h1
                        class="font-bebas-neue uppercase text-6xl sm:text-4xl font-black flex flex-col leading-none text-black text-gray-800">
                        Inspirer la curiosité,nourrir l'imagination
                    </h1>
                    <p class="text-sm sm:text-base text-gray-700 text-black">
                    </p>
                    <p class="text-sm sm:text-base text-gray-700 text-black">
                        nos jeux éducatifs rendent l'apprentissage <br> ludique et interactif !"
                    </p>
                    <div class="flex mt-8">
                        <a href="./login.html"
                            class="uppercase py-2 px-4 rounded-lg bg-black border-2 border-transparent text-white text-md mr-4 hover:bg-[#1C4986]">
                            Prêt à jouer ? Cliquez ici !
                        </a>
                    </div>
                </div>
                <div class="hidden sm:block sm:w-1/3 lg:w-3/5 relative">
                    <img src="../images/avatar.svg" alt="guide avatar" class="max-w-xs md:max-w-sm m-auto myimg " />
                </div>
            </div>
        </div>
    </main>
    <script src="../../scripts/landingpage.js"></script>
</body>

</html>